:root {
  --amy-1: #9381FF;
  --amy-2: #B8B8FF;
  --amy-3: #FFEEDD;
  --amy-4: #FFD8BE;
  --amy-light:#F8F7FF;
}

html,
body,
#__next{
  width: 100%;
  height: 100%;
}

.cover-container{
  max-width: 42em;
}


.nav-masthead .nav-link{
  color: rgba(255, 255, 255, .5);
  border-bottom: 0.25rem solid transparent;
}
.nav-masthead .active{
  color: #fff;
  border-bottom-color: #fff;
}
.nav-link{
  margin-left: 1rem;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.bg-amy-1 {
  background-color: var(--amy-1) !important;
}
.bg-amy-2 {
  background-color: var(--amy-2) !important;
}
.bg-amy-3 {
  background-color: var(--amy-3) !important;
}
.bg-amy-4 {
  background-color: var(--amy-4) !important;
}
.bg-amy-light {
  background-color: var(--amy-light) !important;
}

.text-amy-light {
  color: var(--amy-light) !important;
}

.text-amy-1 {
  color: var(--amy-1) !important;
}